:host {
  display: block;
  flex: none;
  background: var(--border-subtle);
}

:host([data-orientation='horizontal']) {
  width: 100%;
  height: var(--border-width);
}

:host([data-orientation='vertical']) {
  width: var(--border-width);
  height: 100%;
  min-height: var(--space-8);
}
